<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.shagui.myfirstapp"
        version   = "1.0.0">
    <name>My First App</name>

    <description>
        An amazing app by Shagui
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        Shagui Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />

    <!--<preference name="android-installLocation" value="preferExternal" />-->
    
    <icon src="icon.png" />
</widget> 
